# {{ ansible_managed }}

daemon = {{ daemon }}
dynamic_tuning = {{ dynamic_tuning }}
sleep_interval = {{ sleep_interval }}
update_interval = {{ update_interval }}
recommend_command = {{ enable_recommend }}
reapply_sysctl = {{ reapply_sysctl }}
